<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>企业全称</string>
			<key>canEdit</key>
			<false/>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>0</integer>
			<key>propertyName</key>
			<string>companyName</string>
			<key>pageContent</key>
			<dict>
				<key>placeholder</key>
				<string>请填写企业全称</string>
				<key>keyBoardType</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>企业法人代表人</string>
			<key>canEdit</key>
			<false/>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>0</integer>
			<key>propertyName</key>
			<string>legalPersonName</string>
			<key>pageContent</key>
			<dict>
				<key>placeholder</key>
				<string>填写企业法人代表人</string>
				<key>keyBoardType</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>企业法人联系电话</string>
			<key>canEdit</key>
			<false/>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>0</integer>
			<key>propertyName</key>
			<string>legalPersonPhone</string>
			<key>pageContent</key>
			<dict>
				<key>placeholder</key>
				<string>填写企业法人联系电话</string>
				<key>keyBoardType</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>企业法人身份证照片</string>
			<key>canEdit</key>
			<true/>
			<key>cellType</key>
			<integer>2</integer>
			<key>pageType</key>
			<integer>3</integer>
			<key>propertyName</key>
			<string>identificationPosUrl</string>
			<key>pageContent</key>
			<string>Attestation_person_upload_z</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>canEdit</key>
			<true/>
			<key>cellType</key>
			<integer>2</integer>
			<key>pageType</key>
			<integer>3</integer>
			<key>propertyName</key>
			<string>identificationOppoUrl</string>
			<key>pageContent</key>
			<string>Attestation_person_upload_f</string>
		</dict>
		<dict>
			<key>title</key>
			<string>营业执照号</string>
			<key>canEdit</key>
			<false/>
			<key>cellType</key>
			<integer>12</integer>
			<key>pageType</key>
			<integer>0</integer>
			<key>propertyName</key>
			<string>businessLicenceCode</string>
			<key>pageContent</key>
			<dict>
				<key>placeholder</key>
				<string>请填写统一社会信用代码</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>营业执照或者组织机构代码</string>
			<key>canEdit</key>
			<true/>
			<key>cellType</key>
			<integer>2</integer>
			<key>pageType</key>
			<integer>3</integer>
			<key>propertyName</key>
			<string>businessLicencePic</string>
			<key>pageContent</key>
			<string>Attestation_company_upload</string>
		</dict>
	</array>
</array>
</plist>
