<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>持卡人</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>0</integer>
			<key>propertyName</key>
			<string>userName</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>请填写持卡人姓名</string>
				<key>regular</key>
				<string></string>
				<key>placeholder</key>
				<string>姓名</string>
				<key>headerTip</key>
				<string></string>
				<key>footerTip</key>
				<string></string>
				<key>keyBoardType</key>
				<integer>4</integer>
			</dict>
		</dict>
        <dict>
			<key>title</key>
			<string>卡类型</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>4</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>bank</string>
		</dict>
        <dict>
            <key>title</key>
            <string>卡号</string>
            <key>cellType</key>
            <integer>10</integer>
            <key>pageType</key>
            <integer>0</integer>
            <key>propertyName</key>
            <string>acctId</string>
            <key>pageContent</key>
            <dict>
                <key>tip</key>
                <string>卡号位数不对</string>
                <key>regular</key>
                <string>^\d{16,19}$</string>
                <key>placeholder</key>
                <string>填写银行卡卡号</string>
                <key>headerTip</key>
                <string></string>
                <key>footerTip</key>
                <string></string>
                <key>keyBoardType</key>
                <integer>4</integer>
            </dict>
        </dict>
        <dict>
			<key>title</key>
			<string>开户网点</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>7</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>bankAddress</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string></string>
			<key>cellType</key>
			<integer>4</integer>
			<key>pageType</key>
			<integer>0</integer>
			<key>propertyName</key>
			<string>mobilePhone</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>手机号错误</string>
				<key>regular</key>
				<string>^\d{11}$</string>
				<key>placeholder</key>
				<string>银行预留手机号</string>
				<key>keyBoardType</key>
				<integer>4</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>cellType</key>
			<integer>11</integer>
			<key>pageType</key>
			<integer>0</integer>
			<key>propertyName</key>
			<string>messageCode</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>验证码错误</string>
				<key>regular</key>
				<string>^\d{6}$</string>
				<key>placeholder</key>
				<string>短信验证码</string>
				<key>headerTip</key>
				<string></string>
				<key>footerTip</key>
				<string></string>
				<key>keyBoardType</key>
				<integer>4</integer>
			</dict>
		</dict>
	</array>
</array>
</plist>
