<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>车辆VIN</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>0</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>vin</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>vin位数不对</string>
				<key>regular</key>
				<string>^.{17}$</string>
				<key>placeholder</key>
				<string>请输入vin</string>
				<key>headerTip</key>
				<string></string>
				<key>footerTip</key>
				<string>准确输入vin,有助于快速检测通过</string>
				<key>keyBoardType</key>
				<integer>0</integer>
				<key>autoCapitalType</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>车型</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>8</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>title</string>
			<key>pageContent</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string>车辆所在地</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>9</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>city</string>
		</dict>
		<dict>
			<key>title</key>
			<string>联系人</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>0</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>saleName</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>联系人不能为空</string>
				<key>regular</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入联系人姓名</string>
				<key>headerTip</key>
				<string></string>
				<key>footerTip</key>
				<string>联系人</string>
				<key>keyBoardType</key>
				<integer>0</integer>
				<key>autoCapitalType</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>联系电话</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>0</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>saleTel</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>手机号错误</string>
				<key>regular</key>
				<string>^\d{11}$</string>
				<key>placeholder</key>
				<string>填写手机号</string>
				<key>headerTip</key>
				<string></string>
				<key>footerTip</key>
				<string>准确输入手机号,以便质检人员尽快联系到您</string>
				<key>keyBoardType</key>
				<integer>4</integer>
				<key>autoCapitalType</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
</array>
</plist>
