<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>VIN码</string>
			<key>pageType</key>
			<integer>12</integer>
			<key>cellType</key>
			<integer>1</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>vin</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>车架号为17位数字和字母</string>
				<key>regular</key>
				<string>^.{17}$</string>
				<key>placeholder</key>
				<string>请输入车架号(VIN)</string>
				<key>headerTip</key>
				<string></string>
				<key>footerTip</key>
				<string>请输入17位vin,或者点击输入框右边的证件按钮,通过行驶证照片自动识别.</string>
				<key>keyBoardType</key>
				<integer>1</integer>
				<key>autoCapitalType</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>车型</string>
			<key>canEdit</key>
			<true/>
			<key>cellType</key>
			<integer>13</integer>
			<key>pageType</key>
			<integer>8</integer>
			<key>propertyName</key>
			<string>title</string>
		</dict>
		<dict>
			<key>title</key>
			<string>首次上牌</string>
			<key>canEdit</key>
			<true/>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>10</integer>
			<key>propertyName</key>
			<string>firstRegDate</string>
			<key>pageContent</key>
			<dict>
				<key>value</key>
				<array>
					<array>
						<string>2017</string>
						<string>2016</string>
						<string>2015</string>
						<string>2014</string>
						<string>2013</string>
						<string>2012</string>
						<string>2011</string>
						<string>2010</string>
						<string>2009</string>
						<string>2008</string>
						<string>2007</string>
						<string>2006</string>
						<string>2005</string>
					</array>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
						<string>7</string>
						<string>8</string>
						<string>9</string>
						<string>10</string>
						<string>11</string>
						<string>12</string>
					</array>
				</array>
				<key>defaultValue</key>
				<array>
					<integer>4</integer>
					<integer>5</integer>
					<integer>0</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>里程</string>
			<key>canEdit</key>
			<true/>
			<key>pageType</key>
			<integer>0</integer>
			<key>cellType</key>
			<integer>1</integer>
			<key>propertyName</key>
			<string>km</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>里程超出范围</string>
				<key>regular</key>
				<string>^[0-9]+(.[0-9]{1,2})?$</string>
				<key>placeholder</key>
				<string>请输入行驶里程</string>
				<key>headerTip</key>
				<string></string>
				<key>footerTip</key>
				<string>行驶里程保留到小数点后两位,如:12.23万公里</string>
				<key>keyBoardType</key>
				<integer>8</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>cellType</key>
			<integer>7</integer>
			<key>pageType</key>
			<integer>-1</integer>
			<key>propertyName</key>
			<string>remark</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>cellType</key>
			<integer>8</integer>
			<key>pageType</key>
			<integer>-1</integer>
			<key>propertyName</key>
			<string>carPhotoDict</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>总价</string>
			<key>canEdit</key>
			<true/>
			<key>pageType</key>
			<integer>0</integer>
			<key>cellType</key>
			<integer>1</integer>
			<key>propertyName</key>
			<string>price</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>输入的价格有误请重新输入</string>
				<key>regular</key>
				<string>^[0-9]+(.[0-9]{1,2})?$</string>
				<key>placeholder</key>
				<string>请输入车辆售价</string>
				<key>headerTip</key>
				<string></string>
				<key>footerTip</key>
				<string>车辆价格以万元为单位,如:23.45万元</string>
				<key>keyBoardType</key>
				<integer>8</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>订金</string>
			<key>canEdit</key>
			<true/>
			<key>pageType</key>
			<integer>0</integer>
			<key>cellType</key>
			<integer>1</integer>
			<key>propertyName</key>
			<string>reservePrice</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>输入的价格有误请重新输入</string>
				<key>regular</key>
				<string>^[0-9]+(.[0-9]{1,2})?$</string>
				<key>placeholder</key>
				<string>请输入定金</string>
				<key>headerTip</key>
				<string></string>
				<key>footerTip</key>
				<string>车辆订金,如:12000元</string>
				<key>keyBoardType</key>
				<integer>4</integer>
				<key>autocapitalizationType</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>canEdit</key>
			<true/>
			<key>pageType</key>
			<integer>11</integer>
			<key>cellType</key>
			<integer>9</integer>
			<key>propertyName</key>
			<string>address</string>
		</dict>
	</array>
</array>
</plist>
