<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>联系人</string>
			<key>pageType</key>
			<integer>0</integer>
			<key>cellType</key>
			<integer>1</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>contactName</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>请输入联系人</string>
				<key>regular</key>
				<string></string>
				<key>placeholder</key>
				<string>联系人</string>
				<key>headerTip</key>
				<string></string>
				<key>footerTip</key>
				<string></string>
				<key>keyBoardType</key>
				<integer>0</integer>
				<key>autocapitalizationType</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>联系电话</string>
			<key>canEdit</key>
			<true/>
			<key>pageType</key>
			<integer>0</integer>
			<key>cellType</key>
			<integer>1</integer>
			<key>propertyName</key>
			<string>contactTel</string>
			<key>pageContent</key>
			<dict>
				<key>tip</key>
				<string>电话号码不正确</string>
				<key>regular</key>
				<string>^\d{11}$</string>
				<key>placeholder</key>
				<string>请输入联系人手机号</string>
				<key>headerTip</key>
				<string></string>
				<key>footerTip</key>
				<string></string>
				<key>keyBoardType</key>
				<integer>0</integer>
				<key>autocapitalizationType</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>所在地</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>1</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>location</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>pageType</key>
			<integer>1</integer>
			<key>cellType</key>
			<integer>7</integer>
			<key>propertyName</key>
			<string>contactAddress</string>
		</dict>
	</array>
</array>
</plist>
