<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>头像</string>
			<key>cellType</key>
			<integer>0</integer>
			<key>pageType</key>
			<integer>3</integer>
			<key>propertyName</key>
			<string>headPic</string>
		</dict>
		<dict>
			<key>title</key>
			<string>用户名</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>15</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>mobile</string>
		</dict>
		<dict>
			<key>title</key>
			<string>二维码</string>
			<key>cellType</key>
			<integer>6</integer>
			<key>pageType</key>
			<integer>5</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>qrCodeUri</string>
		</dict>
<!--		<dict>-->
<!--			<key>title</key>-->
<!--			<string>公司</string>-->
<!--			<key>cellType</key>-->
<!--			<integer>1</integer>-->
<!--			<key>canEdit</key>-->
<!--			<true/>-->
<!--			<key>pageType</key>-->
<!--			<integer>0</integer>-->
<!--			<key>propertyName</key>-->
<!--			<string>companyName</string>-->
<!--			<key>pageContent</key>-->
<!--			<dict>-->
<!--				<key>tip</key>-->
<!--				<string>请填写公司名字</string>-->
<!--				<key>regular</key>-->
<!--				<string>^[\s\S]{1,30}$</string>-->
<!--				<key>placeholder</key>-->
<!--				<string>请输入公司名称</string>-->
<!--				<key>headerTip</key>-->
<!--				<string></string>-->
<!--				<key>footerTip</key>-->
<!--				<string>公司名称不超过10个字符</string>-->
<!--				<key>keyBoardType</key>-->
<!--				<integer>0</integer>-->
<!--			</dict>-->
<!--		</dict>-->
		<dict>
			<key>title</key>
			<string>所在地</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>1</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>location</string>
		</dict>
<!--        <dict>-->
<!--            <key>title</key>-->
<!--            <string>地址管理</string>-->
<!--            <key>cellType</key>-->
<!--            <integer>1</integer>-->
<!--            <key>pageType</key>-->
<!--            <integer>14</integer>-->
<!--            <key>canEdit</key>-->
<!--            <true/>-->
<!--        </dict>-->
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>实名认证</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>2</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>auditingType</string>
		</dict>
		<dict>
			<key>title</key>
			<string>企业认证</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>pageType</key>
			<integer>13</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>companyAuditingType</string>
		</dict>
	</array>
</array>
</plist>
