<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>我的钱包</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>icon_mine_moneypackage</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>邀请好友</string>
			<key>canEdit</key>
			<true/>
			<key>cellType</key>
			<integer>1</integer>
			<key>propertyName</key>
			<string>icon_mine_friend</string>
		</dict>
        <dict>
            <key>title</key>
            <string>使用帮助</string>
            <key>canEdit</key>
            <true/>
            <key>cellType</key>
            <integer>1</integer>
            <key>propertyName</key>
            <string>icon_mine_use_help</string>
        </dict>
		<dict>
			<key>title</key>
			<string>关于关二爷</string>
			<key>canEdit</key>
			<true/>
			<key>cellType</key>
			<integer>1</integer>
			<key>propertyName</key>
			<string>icon_mine_about</string>
		</dict>
		<dict>
			<key>title</key>
			<string>客服电话</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>canEdit</key>
			<false/>
			<key>obj</key>
			<string>400-822-0063</string>
			<key>propertyName</key>
			<string>icon_mine_companyphone</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>cellType</key>
			<integer>1</integer>
			<key>canEdit</key>
			<true/>
			<key>propertyName</key>
			<string>icon_mine_setting</string>
		</dict>
	</array>
</array>
</plist>
